# --------------------
# Code language overrides
# --------------------

# Node / JavaScript / TypeScript
*.js linguist-language=JavaScript
*.ts linguist-language=TypeScript

# CSS / SCSS
*.css linguist-language=CSS
*.scss linguist-language=SCSS

# HTML / Templates
*.html linguist-language=HTML
*.hbs linguist-language=HTML  # Handlebars

# YAML
*.yml linguist-language=YAML
*.yaml linguist-language=YAML

# Dockerfiles
Dockerfile* linguist-language=Shell

# JSON
*.json linguist-language=JSON

# Markdown / Documentation
*.md linguist-language=Markdown

# Ignore files from stats (vendored)
.env linguist-vendored
.dockerignore linguist-vendored
.gitignore linguist-vendored
README.md linguist-vendored

# Logs and build output
dist linguist-vendored
build linguist-vendored
node_modules linguist-vendored
