.heroAnimation {
  animation: hero 1s forwards 0ms ease-out;

  @keyframes hero {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
