@import "tailwindcss";

:root {
  --primary-color: #4045ef;
}

img {
  user-select: none;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: no-drop !important;
  }
}

html,
body {
  height: 100vh;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

@custom-variant hover (&:hover);

/*! Custom layers start !*/
@layer utilities {
  .gradient-text {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 50%)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .custom-checkbox {
    appearance: none !important;
    -webkit-appearance: none !important;
    border: 1px solid var(--primary-color);
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 2px !important;
    outline: none;
    transition: all 0.3s ease;

    &:checked {
      background-color: var(--primary-color) !important;
    }
  }

  .modal-scrollbar {
    overflow-y: auto !important;
    scrollbar-width: none !important;
  }

  .visible-scrollbar {
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .x-scrollbar {
    overflow-x: auto;
    scrollbar-width: none !important;
  }

  .auth-bg-image {
    background-image: url("https://res.cloudinary.com/dvolwkh6r/image/upload/v1745237987/thumb-image_cdf4yj.png");
    background-size: cover;
  }

  .none-spin-button {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
  }

  .placeholder-bg {
    background-color: rgba(127, 149, 214, 0.5);
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
/*! Custom layers end !*/

@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

/*! - Custom components class group start - !*/
.form__wrapper {
  @apply flex-[1] max-[1026px]:bg-white z-10 max-[1026px]:fixed max-[1026px]:top-[50%] max-[1026px]:left-[50%] max-[1026px]:-translate-[50%] max-[1026px]:w-[95%] max-[1026px]:rounded-3xl max-[1026px]:px-5 max-[1026px]:py-8 max-[1026px]:shadow-2xl max-[1026px]:drop-shadow-2xl;

  @media screen and (height <= 440px) and (orientation: landscape) {
    height: 350px;
  }

  @media screen and (height <= 390px) and (orientation: landscape) {
    height: 300px;
  }
}

.custom__button {
  @apply bg-[var(--primary-color)] hover:bg-[#4359ff] transition duration-300 text-white py-3 rounded-full disabled:bg-[#E3E3FF];
}

.custom__input {
  @apply border focus:border-[var(--primary-color)] transition duration-300 px-9 py-2.5 text-sm w-full rounded-full outline-none;
}

/*! Auth image component's class start !*/
.auth__title {
  @apply text-[54px] w-auto z-10 select-all text-center font-semibold absolute left-[0px] top-[40px] max-[1026px]:hidden px-5;
}

.auth-input__span {
  @apply absolute top-[50%] -translate-y-[50%] text-[#899CC9];
}

.auth__image {
  @apply flex-[1] max-[1026px]:absolute max-[1026px]:-top-[50%] w-screen h-auto flex flex-col relative shadow-2xl drop-shadow-2xl;
}
/*! Auth image component's class end !*/

/*! Auth terms modal's class start  */
.terms-modal__container {
  @apply w-full h-screen flex justify-center items-center backdrop-blur-md fixed left-0 top-0 z-40;
}

.terms-modal__wrapper {
  @apply bg-white rounded-lg max-sm:rounded-none shadow-2xl drop-shadow-2xl max-h-[640px] max-sm:h-full max-sm:w-full max-w-3xl mx-auto;
}

.terms-modal__title {
  @apply text-2xl font-semibold mb-4 sticky top-0 left-0 py-3 px-6 flex justify-between items-center shadow-xl bg-white border-b;
}

/*! Auth terms modal's class end  */

/*! Main header class start  */
.main-header {
  @apply flex items-center justify-between px-[45px] max-[430px]:px-2 max-[375px]:px-1 py-4 relative transition duration-300 z-50;
}

.main-header__wrapper {
  @apply flex max-[992px]:flex-col max-[992px]:!items-start items-end pb-1;
}

.header-login-btn {
  @apply flex items-center gap-x-1 px-6 py-3 max-[992px]:p-0 max-[375px]:text-xs text-white max-[992px]:text-[#4045ef] max-[992px]:font-medium rounded-full transition duration-300 bg-[#202124] max-[992px]:bg-transparent hover:bg-black max-[992px]:hover:bg-transparent whitespace-nowrap;
}

.header-user-modal {
  @apply bg-white border border-[#c6c7c8] rounded-[5px] text-sm transition-all absolute min-[992px]:top-full min-[992px]:right-[45px] max-[992px]:left-[50%] max-[992px]:top-[50%] max-[992px]:-translate-x-[50%] max-[992px]:-translate-y-[50%];
}

.header-candidate-login-btn {
  @apply w-full !rounded-[5px] !bg-transparent border border-[#4045ef] !text-[#4045ef] px-[24px] !py-2 font-medium;
}

.header-user-modal-links {
  @apply hover:text-[#4045ef] transition-colors w-max;
}

.large-navlist {
  @apply max-[992px]:absolute max-[992px]:left-0 max-[992px]:top-0 max-[992px]:w-[350px] max-[576px]:w-full max-[992px]:hidden max-[992px]:h-screen;
}

.navbar-brand-menu {
  @apply me-8 max-[992px]:flex max-[992px]:items-center max-[992px]:gap-4;
}

.small-navlist {
  @apply max-[992px]:bg-black/30 max-[992px]:fixed max-[992px]:left-0 max-[992px]:top-0 w-full;
}

.small-navlist__wrapper {
  @apply max-[992px]:h-screen relative max-[992px]:w-[350px] max-[576px]:w-full z-50;
}

/*! Main header class end  */

/*! Main footer class start  */
.footer-store-item {
  @apply flex items-center gap-5 bg-[rgba(255,255,255,0.1)] hover:bg-[rgba(255,255,255,0.2)] transition-colors duration-300 py-[9px] max-xl:py-[7px] max-xl:px-[15px] px-[22px] rounded-[60px] max-xl:rounded-lg;
}

.footer-copyright-wrapper {
  @apply flex max-md:flex-col max-md:items-center max-md:gap-y-[15px] max-md:text-center justify-between text-white py-[35px] max-md:py-5;
}

/*! Main footer class end  */

/*! Home hero section class start !*/
.hero-section {
  @apply pt-[170px] max-lg:py-[30px] max-lg:px-[12px] relative h-screen max-[1024px]:h-[calc(100vh-79.43px)] max-[992px]:h-full;
}

.hero-section-title {
  @apply text-[#202124] text-[50px] max-md:text-4xl max-[540px]:!text-3xl font-medium;
}

.hero-section-form {
  @apply bg-white rounded-full max-md:rounded-xl border border-[#ECEDF2] w-[1000px] max-lg:w-[95%] py-[19px] px-[20px] mx-auto mt-10;
}

.hero-section-form__wrapper {
  @apply flex max-md:flex-col gap-3 items-center max-md:items-start;
}

.hero-section-form__input-group {
  @apply flex-[1] max-md:w-full max-md:pb-2.5;
}

.hero-section-form__button {
  @apply bg-[#202124] hover:bg-white rounded-full transition-all duration-500 text-white hover:text-[#202124] border hover:border-[#202124] py-[13px] px-[30px] leading-[30px] text-[15px] w-full;
}

.hero-section-form__auto-complete-input {
  @apply absolute top-[159%] max-md:top-[127%] max-md:left-0 border-b border-l border-r border-[#ecedf2] rounded-b-lg bg-white h-max max-h-[200px] max-[992px]:!max-h-[120px] max-md:!max-h-[200px] w-[calc(100%+21.7px)] max-md:w-full z-10;
}

.auto-complete-list-span {
  @apply hover:bg-[#f5f5f5] w-full block py-1.5 px-8 text-sm cursor-pointer text-left;
}
/*! Home hero section class end !*/

/*! User items class start !*/
.session-user-modal {
  @apply pt-6 absolute right-[45px] top-full w-[320px] bg-white border border-[#c6c7c8] rounded-[5px] transition-all invisible group-hover:visible max-[992px]:hidden;
}

.not-logged-modal {
  @apply bg-white border border-[#c6c7c8] rounded-[5px] transition-all invisible max-[992px]:w-[500px] max-[576px]:w-screen max-[576px]:h-screen max-[992px]:visible group-hover:visible;
}
/*! User items class end !*/

/*! Home page Categories class start */
.category-list {
  @apply grid grid-cols-6 max-lg:grid-cols-3 max-md:flex gap-[30px] max-lg:gap-[25px] mt-4 snap-mandatory;
}

.category-list-item {
  @apply flex flex-col items-center border border-[#ECEDF2] h-full hover:bg-[#F5F2EA] transition-colors duration-500 py-[35px] max-xl:py-[20px] px-[15px] rounded-[18px] cursor-pointer max-md:w-[300px];
}

.category-list-item-wrapper {
  @apply w-[80px] h-[80px] rounded-full bg-[#F5F2EA] group-hover:bg-white transition-colors duration-500 mb-2.5 grid place-content-center;
}

.category-item-text {
  @apply text-[#202124] font-medium whitespace-nowrap overflow-ellipsis overflow-hidden w-full text-center mb-0.5;
}

.category-subtext {
  @apply text-[#696969] text-sm whitespace-nowrap overflow-ellipsis overflow-hidden w-full text-center;
}
/*! Home page Categories class end */

/*! Home page Testimonials class start  */
.testimonials-wrapper-container {
  @apply container max-md:px-[7.5px] flex max-md:flex-col items-center gap-[220px] max-md:!gap-10 py-[120px] max-lg:py-[30px] max-[1280px]:!px-4 max-[1280px]:!gap-20;
}

.play-wrapper {
  @apply absolute top-1/2 -translate-y-1/2 -left-12 max-[1024px]:-left-7 max-md:left-1/2 max-md:-translate-x-1/2 bg-white w-[90px] h-[90px] rounded-full grid place-content-center scale-90 hover:scale-100 transition-transform duration-300 cursor-pointer hover:first:text-[#1967d2];
}

/*! Home page Testimonials class end  */

/*! Home page trending keywords item component class start !*/
.keyword-link {
  @apply py-2.5 px-5 inline-block text-[#131a51] font-medium transition-colors duration-300 ease-in-out hover:bg-[#F5F2EA] border border-[#F5F2EA] rounded-full shadow-lg;
}

/*! Home page trending keywords item component class end !*/

/*! Blog class start */
.blog-figure {
  @apply h-[300px] max-[1280px]:h-[250px] max-lg:h-[222px] max-[992px]:!h-[200px] max-[480px]:!h-[235px] overflow-hidden rounded-xl;
}

.blog-image {
  @apply w-full h-full object-cover rounded-xl hover:scale-105 transition duration-300;
}

.blog-category-text {
  @apply text-sm bg-white hover:text-[#1967d2] py-[5px] px-[15px] rounded-full absolute top-5 left-5 z-10;
}

.blog-time-text {
  @apply text-[#77838f] border-r border-[#ECEDF2] me-2.5 pe-2.5;
}

.blog-title-text {
  @apply text-[#202124] hover:text-[#1967d2] transition-colors duration-300 font-medium text-[20px] mt-3;
}

.blog-title-link-text {
  @apply whitespace-nowrap overflow-hidden text-ellipsis inline-block w-full;
}

/*! Blog class end */

/*! Filter menu components class start  !*/
.filter-title {
  @apply block text-lg text-[#202124] font-medium mb-5;
}

.filter-switch-text {
  @apply text-[#696969] text-[15px] cursor-pointer;
}

.filter-switch-wrapper {
  @apply !w-[40px] !h-[20px] rounded-full border transition-colors duration-500 ease-in-out;
}

.filter-switch-circle {
  @apply w-[10px] h-[10px] rounded-full inline-block absolute transition-all duration-500 ease-in-out;
}

.extra-filter-switch-plus {
  @apply bg-[#D4E1F5] text-[#1967D2] group-hover:bg-[#1967d2] group-hover:text-white transition-colors duration-500 w-[25px] h-[25px] me-2.5 rounded-full grid place-content-center;
}

/*! Filter menu Job Type component class start  !*/
.job-type-screen {
  @apply flex justify-between items-center py-4 px-5 select-none bg-white border transition-colors duration-500 rounded-lg text-[15px] text-[#696969] w-full cursor-pointer whitespace-nowrap;
}

.job-type-list {
  @apply py-3 rounded-lg bg-white border border-[#ECEDF2] text-[15px] text-[#696969] absolute top-full left-0 w-full select-none z-[1];
}

.job-type-list__item {
  @apply py-1.5 px-5 cursor-pointer transition-colors hover:text-[#1967D2] whitespace-nowrap;
}

/*! Filter menu Job Type component class end  !*/

/*! Filter menu components class end  !*/

/*! - Custom components class group end - !*/

/*! Modal css animation start !*/
.modal-enter {
  opacity: 0;
  scale: 0.8;
}
.modal-enter-active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  scale: 1;
}
.modal-exit {
  opacity: 1;
  scale: 1;
}
.modal-exit-active {
  opacity: 0;
  scale: 0.8;
  transition: all 0.3s ease-in-out;
}
/*! Modal css animation end !*/

/*! User Header mobile menu start !*/
.modal-menu-enter {
  left: -100%;
}
.modal-menu-enter-active {
  left: 0%;
  transition: all 0.3s ease-in-out;
}
.modal-menu-exit {
  left: 0%;
}
.modal-menu-exit-active {
  left: -100%;
  transition: all 0.3s ease-in-out;
}

/*! User Header mobile menu end !*/

.go-back-query {
  @media screen and (height <= 440px) and (orientation: landscape) {
    left: auto;
  }

  @media screen and (width <= 325) {
    right: 30px !important;
    left: unset;
  }
}

/*! Slider class area start !*/

/*! Swiper general container  !*/
.swiper {
  margin: 0 8rem !important;

  @media only screen and (width < 1240px) {
    margin: 0 6rem !important;
  }

  @media only screen and (width < 1024px) {
    margin: 0 4rem !important;
  }

  @media only screen and (width < 768px) {
    margin: unset !important;
  }
}

.slide-image {
  @apply object-contain cursor-pointer transition duration-300 mx-auto group-hover:scale-90 only:hover:scale-100;
}

.slider-button-container {
  @apply max-[1024]:flex justify-between absolute left-0 top-[calc(50%)] -translate-y-[50%] w-full px-8 max-sm:px-3 min-[1024]:hidden z-10 pointer-events-none;
}

.slide-button {
  @apply text-[#0B3C91] bg-[#1967D226] hover:bg-[#1967D2] hover:text-white transition-colors duration-300 rounded-lg w-[30px] h-[30px] grid place-content-center pointer-events-auto;
}

.swiper-pagination {
  text-align: center;
  margin-top: 20px;

  &:has(.testimonials) {
    text-align: left;
    display: flex;
    align-items: center;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #bfc8cb;
  display: inline-block;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;

  &.swiper-pagination-bullet-active {
    background-color: #202124;
    width: 20px;
  }

  &.testimonials {
    width: 50px !important;
    height: 3px;
    border-radius: unset;
    margin: 0px;
  }
}

/*! Swiper home page featured job class area start !*/
.featured-job-swiper-slide {
  @apply border border-[#ECEDF2] hover:border-[#F9AB00] !transition-colors duration-300 p-[30px] rounded-[18px] !h-auto shadow-[0px_6px_15px_0px_rgba(64,79,104,0.05)];
}

.featured-job-title-tag {
  @apply text-[#202124] font-medium hover:text-[#1967d2] transition-colors duration-300 cursor-pointer;
}

.featured-job-list-item {
  @apply rounded-full border border-[#ECEDF2] text-[#202124] text-sm py-1 px-3.5;
}
/*! Swiper home page featured job class area end !*/

/*! Slider class area end !*/

/*! Favorite Item class start !*/
.favorite-icon-wrapper {
  @apply absolute right-2 top-2 min-sm:invisible min-sm:group-hover:visible group-hover:bg-[#ECEDF2] hover:bg-[#ECEDF2] rounded-full w-[30px] h-[30px] transition-colors duration-300 grid place-content-center cursor-pointer;
}

.favorite-icon {
  @apply min-sm:opacity-0 min-sm:invisible min-sm:group-hover:opacity-100 min-sm:group-hover:visible transition-all duration-500 text-[#696969] text-lg;
}

/*! Favorite Item class end !*/

/*! Application exit modal button class start !*/
.exit-modal-button {
  @apply sm:!py-1.5 px-4 max-sm:!py-4 flex-1/2 whitespace-nowrap max-sm:!bg-transparent max-sm:!text-[#000000E6] max-sm:font-medium max-sm:text-lg max-sm:!rounded-none;
}
/*! Application exit modal button class end !*/
